<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">
  <title>Bon Appetit Restaurant Catalogue</title>
</head>

<body>

  <!-- Anchor skip-to-content -->
  <a href="#main" class="skip-content">Lewati ke konten utama</a>

  <!-- Bagian header halaman -->
  <header>
    <div class="header__container">
      <p>
        <a href="/" class="nav__logo">Bon Appetit</a>
      </p>
      
      <nav class="navbar" id="drawer">
        <ul class="nav__list">
          <li class="nav__item"><a href="/">Home</a></li>
          <li class="nav__item"><a href="#">Favorite</a></li>
          <li class="nav__item"><a href="https://www.linkedin.com/in/vicky-alex/">About Us</a></li>
        </ul>
      </nav>
      <div class="hamburger">
        <button id="hamburger" aria-label="menu">
          <svg class="hb" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" stroke="currentColor" stroke-width=".6" fill="rgba(0,0,0,0)" stroke-linecap="round" style="cursor: pointer">
            <path d="M2,3L5,3L8,3M2,5L8,5M2,7L5,7L8,7">
              <animate dur="0.2s" attributeName="d" values="M2,3L5,3L8,3M2,5L8,5M2,7L5,7L8,7;M3,3L5,5L7,3M5,5L5,5M3,7L5,5L7,7" fill="freeze" begin="start.begin" />
              <animate dur="0.2s" attributeName="d" values="M3,3L5,5L7,3M5,5L5,5M3,7L5,5L7,7;M2,3L5,3L8,3M2,5L8,5M2,7L5,7L8,7" fill="freeze" begin="reverse.begin" />
            </path>
            <rect width="10" height="10" stroke="none">
              <animate dur="2s" id="reverse" attributeName="width" begin="click" />
            </rect>
            <rect width="10" height="10" stroke="none">
              <animate dur="0.001s" id="start" attributeName="width" values="10;0" fill="freeze" begin="click" />
              <animate dur="0.001s" attributeName="width" values="0;10" fill="freeze" begin="reverse.begin" />
            </rect>
          </svg>  
        </button>
      </div>
    </div>
    <div class="hero__container">
      <div class="hero__inner">
        <h1 class="hero__title">Temukan Rasa yang Anda Cari</h1>
        <p class="hero__tag">Cari restoran favorit Anda disini</p>
      </div>
  </header>

  <!-- Bagian main content halaman -->
  <main>
    <div class="mainContent" tabindex="0">
      <h2>Explore Restaurants</h2>
    </div>

    <div id="main" class="mainContent">
      <div class="restaurantList">
        <div class="restaurantItem" id="mainRestaurant">

        </div>
      </div>
    </div>

  </main>

  <!-- Bagian footer halaman -->
  <footer>
    <p class="footer__content">
      Copyright &copy; <span id="year">date</span> - Bon Appetit
    </p>
  </footer>

</body>

</html>