<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="shortcut icon" href="images/favicon/favicon.ico" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  <title>Bon Appetit Restaurant Catalogue</title>
</head>

<body>

  <header>
    <div class="header__container">
      <h1>
        <a href="/">Bon Appetit</a>
      </h1>
      <nav class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li><a href="https://github.com/vick1208">About Us</a></li>
        </ul>
      </nav>
    </div>
  </header>


  <img src="./images/heros/hero-image_3.jpg" width="450" alt="Hero Section Picture" />

</body>

</html>