<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  <title>Bon Appetit Apps</title>
</head>

<body>

  <header class="header">
    <div class="header__inner">
      <h1 class="header__title">Bon Appetit Apps</h1>
    </div>
  </header>

  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#">Favorite</a></li>
      <li><a href="https://github.com/vick1208">About Us</a></li>
    </ul>
  </nav>

  <!-- <img src="./images/heros/hero-image_1.jpg" width="450" alt="" />
    <img src="./images/heros/hero-image_2.jpg" width="450" alt="" /> -->
  <img src="./images/heros/hero-image_3.jpg" width="450" alt="" />
  <!-- <img src="./images/heros/hero-image_4.jpg" width="450" alt="" /> -->

</body>

</html>