* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #94a3b8;
}

.header__container {
  display: flex;
  background-color: #94a3b8;
  min-height: 3rem;
  width: 100%;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #94a3b8;
}

.header__container h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.6rem;
  text-transform: capitalize;
}

.header__container h1 a {
  color: #fffafa;
  text-decoration: none;
}

.header__container nav ul li {
  display: inline-block;
  margin-left: 1.5rem;
  font-size: 1.1rem;
}

.header__container nav ul li a {
  padding: 10px 15px;
  text-decoration: none;
  color: #fffafa;
  border: 1px solid transparent;
  border-radius: 10px;
}
.header__container nav ul li a:hover {
  border: 1px solid #111;
}

