#mainRestaurant {
    display: grid;
    grid-row-gap: 13px;
}

@media screen and (min-width: 310px) {
    #mainRestaurant {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }

    #itemPicture {
        max-height: 100%;
    }

    footer {
        font-size: 10px;
    }

    .hero__title {
        font-size: 38px;
    }

    .hero__tag {
        font-size: 20px;
        margin: 15px;
    }

    .mainContent {
        font-size: 10px;
    }

}

@media screen and (min-width: 640px) {
    #mainRestaurant {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }

    #itemPicture {
        max-height: 100%;
    }

    footer {
        font-size: 13px;
    }

    .hero__title {
        font-size: 39px;
    }

    .hero__tag {
        font-size: 23px;
        margin: 22px;
    }

    .mainContent {
        font-size: 14px;
    }
    .hamburger {
        display: none;
    }

    .nav__item {
        display: inline-block;
        position: static;
        margin-left: 1.5rem;
        font-size: 1.2rem;
        background-color: green;
    }
    
    .nav__item a {
        padding: 2rem 1rem;
        text-decoration: none;
        color: #fffafa;
        border: 1px solid transparent;
        border-radius: 10px;
    }
    
    .nav__item a:hover {
        color: #fca5a5;
    }

}

@media screen and (min-width: 768px) {
    #mainRestaurant {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }

    #itemPicture {
        max-height: 100%;
    }

    footer {
        font-size: 15px;
    }

    .hero__title {
        font-size: 42px;
    }

    .hero__tag {
        font-size: 25px;
        margin: 10px;
    }

    .nav__logo {
        font-size: 2.6rem;
    }
    
}


@media screen and (min-width: 900px) {
    #mainRestaurant {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
    }
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 1200px;
        margin: 0 auto;
    }
}