$color_1: black;
$color_2: #fffafa;
$color_3: #fca5a5;
$color_4: #57534E;
$color_5: #fafafa;
$color_6: rgb(255, 255, 255);
$color_7: rgb(41, 37, 36);
$font-family_1: "Lato", sans-serif;
$font-family_2: "Playfair Display", serif;
$background-color_1: #fffafa;
$background-color_2: #1E293B;
$background-color_3: transparent;
$background-color_4: #D4D4D4;

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	font-family: $font-family_1;
	font-size: 1rem;
}
.skip-content {
	display: flex;
	align-items: center;
	position: absolute;
	top: -100%;
	left: 0px;
	z-index: 2;
	background-color: $background-color_1;
	font-size: 1rem;
	padding: 0.5rem;
	border-radius: 10px;
	color: $color_1;
	text-decoration: none;
	z-index: 3;
	min-height: 44px;
	min-width: 44px;
	&:focus {
		top: 30px;
	}
}
.header__container {
	display: flex;
	background-color: $background-color_2;
	min-height: 3rem;
	width: 100%;
	padding: 1rem;
	justify-content: space-between;
	align-items: center;
	border-bottom: 3px solid $background-color_2;
	.hamburger {
		button {
			background-color: $background-color_3;
			border: none;
		}
	}
}

.hb {
	width: 3rem;
	height: 3rem;
	color: $color_2;
}
.nav__logo {
	font-family: $font-family_2;
	font-size: 2.8rem;
	font-weight: bold;
	text-transform: capitalize;
	color: $color_2;
	text-decoration: none;
}
.nav__item {
	a {
		&:hover {
			color: $color_3;
			border: 1px solid $color_5;
		}
	}
}
.hero__container {
	display: flex;
	background: linear-gradient(90deg, rgba(1,1,1,0.8) 20%, rgba(27, 18, 18,0.5) 80%), url("../public/images/heros/hero-image_1.jpg");
	width: 100%;
	min-height: 31.25rem;
	background-size: cover;
	align-items: center;
}
.hero__inner {
	margin: 0 auto;
	width: 100%;
	color: $color_2;
	text-align: center;
}
.hero__title {
	font-size: 3.2rem;
}
.hero__tag {
	margin-top: 10px;
	font-size: 1.9rem;
}
.mainContent {
	position: relative;
	display: flex;
	justify-content: center;
	color: $color_4;
	width: 100%;
	margin: auto auto;
	padding: 32px;
}
.item {
	margin: 16px 0;
	box-shadow: 3px 4px 8px 1px rgba(0, 0, 0, 0.5);
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	background-color: $background-color_4;
	display: flex;
	flex-direction: column;
}
.itemCity {
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 5px;
	padding: 1rem;
	color: $color_5;
	height: 45px;
	width: 100%;
	align-items: center;
	font-size: 1rem;
	text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}
.itemRating {
	position: absolute;
	border-radius: 5px;
	top: 0px;
	right: 0px;
	color: $color_6;
	font-size: 1.125rem;
	height: 50px;
	padding: 14px;
	text-shadow: 2px 2px 16px rgba(0, 0, 0, 0.8);
}
p.itemRating {
	color: $color_5;
}
.itemPicture {
	width: 100%;
	height: 250px;
	filter: contrast(0.75);
}
.itemDesc {
	padding: 1rem;
	a {
		font-size: 2rem;
		padding-bottom: 12px;
		padding-top: 12px;
		color: $color_7;
		text-decoration: none;
	}
	.link__rating {
		color: $color_5;
	}

	.textDesc{
		white-space: nowrap;
		width: 10rem;
		min-height: calc(20vh / 5);
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
footer {
	background-color: $background-color_2;
	padding: 2rem;
	width: 100%;
}
.footer__content {
	text-align: center;
	color: $color_5;
}
