$color_1: #fffafa;
$color_2: #fafafa;
$background-color_1: #1E293B;

.restaurants {
	display: grid;
	grid-row-gap: 13px;
}
@media screen and (min-width: 310px) and (max-width: 640px) {
	.restaurants {
		grid-template-columns: 1fr;
		grid-column-gap: 10px;
		grid-row-gap: 16px;
	}
	#itemPicture {
		max-height: 100%;
	}
	footer {
		font-size: calc(3rem/4);
	}
	.hero__title {
		font-size: calc(3rem - 10px);
	}
	.hero__tag {
		font-size: calc(1rem + 4px);
		margin: 15px;
	}
	.mainContent {
		font-size: calc(3rem/4);
	}
	.hamburger {
		display: block;
	}
	.navbar {
		visibility: hidden;
		position: absolute;
		top: calc(100px - 20px);
		right: 0;
		overflow-x: hidden;
		width: 0;
		transition: all 500ms ease-in-out;
	}
	.navbar.open {
		transform: translateX(0);
		visibility: visible;
		background-color: $background-color_1;
		width: calc(80vw / 2);
		min-height: calc(8vh * 5);
	}
	.nav__item {
		a {
			display: block;
			padding: 2rem;
			font-size: 1rem;
			width: 100%;
			color: $color_1;
			text-decoration: none;
			&:hover{
				color: #fca5a5;
				border: 1px solid $color_2;
			}
		}
		
	}
	.nav__logo {
		width: 100%;
	}
}
@media screen and (min-width: 640px) {
	.restaurants {
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 10px;
		grid-row-gap: 16px;
	}
	#itemPicture {
		max-height: 100%;
	}
	footer {
		font-size: calc(1rem - 3px);
	}
	.hero__title {
		font-size: calc(2rem + 7px);
	}
	.hero__tag {
		font-size: calc(1rem + 7px);
		margin: 22px;
	}
	.mainContent {
		font-size: calc(1rem - 2px);
	}
	.hamburger {
		display: none;
	}
	.nav__item {
		display: inline-block;
		position: static;
		margin-left: 1.5rem;
		font-size: 1.2rem;
		a {
			padding: 2rem 1rem;
			text-decoration: none;
			color: $color_1;
			border: 1px solid transparent;
			border-radius: 10px;
		}
	}
	.nav__logo {
		font-size: 3.2rem;
	}
}
@media screen and (min-width: 768px) {
	.restaurants {
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 16px;
		grid-row-gap: 16px;
	}
	#itemPicture {
		max-height: 100%;
	}
	footer {
		font-size: 15px;
	}
	.hero__title {
		font-size: 42px;
	}
	.hero__tag {
		font-size: 25px;
		margin: 10px;
	}
}
@media screen and (min-width: 900px) {
	.restaurants {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 16px;
	}
}
@media screen and (min-width: 1200px) {
	main {
		max-width: 1200px;
		margin: 0 auto;
	}
}
