$color_1: #ffffff;


loading-overlay{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 50;
	background-color: $color_1;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;

	.loading__overlay{
		display: flex;
		flex-direction: column;
		align-items: center;
		.loader {
			width: 50px;
			aspect-ratio: 1;
			border-radius: 50%;
			background: radial-gradient(farthest-side, #ffa516 94%, #0000) top/8px 8px no-repeat, conic-gradient(#0000 30%, #ffa516);
			mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
			animation: l13 1s infinite linear;
		}
		p{
			margin-top: 1rem;
			font-size: 1.7rem;
			letter-spacing: 3px;
		}
	}
}

.hide__loading{
    display: none;
}


@keyframes l13 {
	100% {
		transform: rotate(1turn);
	}
}